/* practice session/ */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{

  background-color: #19062d ;
}
#practice-project {

height: 100vh;
text-align:center;
padding-top: 100px;

  
}

.image1{
  height:200px;
  width:200px;
  border:5px dotted black;
  border-radius:50px;
}


/* display and float */




/* PROJECT SESSION */
#practice-project h1{
  color:transparent;
  background-image: linear-gradient(to bottom, orange,white,green);

  background-clip:text;
  font-size:48px;
}
#practice-project p{
  font-size: 24px;
  color:white;
  margin: 0px 20px 0px 20px;
  text-align: justify;
  padding:20px;
}
#practice-project button{
  background-image: linear-gradient(orange,green);
  color:white;
  padding:20px 20px;
  border-radius: 10px 0px 5px 10px;
}
.div1{
  
}